<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{pageTitle}}</h3>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" novalidate [formGroup]="productForm">
            <fieldset>
                <div class="form-group" [ngClass]="{'has-error': displayMessage.productName}">
                    <label class="col-md-2 control-label" for="productNameId">Product Name</label>

                    <div class="col-md-8">
                        <input class="form-control" id="productNameId" type="text" placeholder="Name (required)" formControlName="productName" />
                        <span class="help-block" *ngIf="displayMessage.productName">
                            {{displayMessage.productName}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': displayMessage.productCode}">
                    <label class="col-md-2 control-label" for="productCodeId">Product Code</label>

                    <div class="col-md-8">
                        <input class="form-control" id="productCodeId" type="text" placeholder="Code (required)" formControlName="productCode" />
                        <span class="help-block" *ngIf="displayMessage.productCode">
                            {{displayMessage.productCode}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': displayMessage.price}">
                    <label class="col-md-2 control-label" for="priceId">Price</label>

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" id="priceId" type="text" placeholder="Price (required)" formControlName="price" />
                        </div>                   
                        <span class="help-block" *ngIf="displayMessage.price">
                            {{displayMessage.price}}
                        </span>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="col-md-2 control-label">Release Date</label>
                    <div class="col-md-4" style="width:30%">
                        <div class="input-group">                         
                            <input class="form-control" id="releaseDate" type="text" formControlName="releaseDate"/>
                            <span class="input-group-addon" (click)="toogleCalender()" style="cursor: pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div> 
                       <datepicker formControlName="releaseDate" (selectionDone)="toogleCalender()" [showWeeks]="false" *ngIf="displayCalender"></datepicker>
                    </div>
                </div> -->

                <div class="form-group" [ngClass]="{'has-error': displayMessage.starRating}">
                    <label class="col-md-2 control-label" for="starRatingId">Star Rating (1-5)</label>

                    <div class="col-md-8">
                        <input class="form-control" id="starRatingId" type="text" placeholder="Rating" formControlName="starRating" />
                        <span class="help-block" *ngIf="displayMessage.starRating">
                            {{displayMessage.starRating}}
                        </span>
                    </div>
                </div>

                <div formArrayName="tags">
                    <div class="row">
                        <button class="col-md-offset-1 col-md-1 btn btn-default" type="button" (click)="addTag()">Add Tag
                        </button>
                    </div>
                    <div class="form-group" *ngFor="let tag of tags.controls; let i=index">
                        <label class="col-md-2 control-label" [attr.for]="'tag' + i">Tag</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input class="form-control" [id]="'tag'+i" type="text" placeholder="Tag" [formControlName]="i" />
                                <span class="input-group-addon" (click)="removeTag(i)" style="cursor: pointer">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="descriptionId">Description</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="descriptionId" placeholder="Description" rows=3 formControlName="description"></textarea>
                        <span class="help-block">
                            
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px" [disabled]="!productForm.valid"
                                    (click)="submit()">
                                Save
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-default"
                               style="width:80px" [routerLink]="['/products']">
                                Cancel
                            </button>
                        </span>
                        <span *ngIf="editMode">
                            <button class="btn btn-default"
                               style="width:80px" (click)="delete()">
                                Delete
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class='has-error'></div>
    </div>

</div>