<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="panel panel-primary" *ngIf="!errorMessage">
    <div class="panel-heading">
        <h3 class="panel-title">{{pageTitle}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 pull-left">
                <div class="form-group">
                    <input type="text" class="form-control" id="form-group-input" placeholder="Type here to search.." [(ngModel)]='filterBy'>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <span><b>Filter By: </b></span>{{filterBy}}
            </div>
            <div class="clearfix"></div>
        </div>
        <table class="table" *ngIf="products && products.length">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary" (click)="toogleImage()">
                            {{showImage ? "Hide" : "Show"}} Images
                        </button>
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Available
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | productFilter:filterBy">
                    <td>
                        <img *ngIf="showImage" [src]="product.imageUrl" [title]="product.productName" [style.width.px]="imageWidth" [style.height.px]="imageHeight"
                        />
                    </td>
                    <td>
                        <a [routerLink]="['/product',product.productId]">
                            {{product.productName}}
                        </a>
                    </td>
                    <td>
                        {{product.productCode | lowercase }}
                    </td>
                    <td>
                        {{product.releaseDate}}
                    </td>
                    <td>
                        {{product.price | currency:'USD':true:'1.2-2'}}
                    </td>
                    <td>
                        <ai-star [rating]='product.starRating'></ai-star>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>